<div class="card articleInfo">
  <img [src]="urlImg" [alt]="altImg" />
  <div class="card-body">
    <h6 class="card-title" [ngStyle]="{ color: getColor() }">
      {{ titreArticle | uppercase }}
      <span *ngIf="!dispo"> - Indisponible </span>
      <!--<span *ngIf="dispo === false"> - Indisponible </span> -->
    </h6>
    <h5 class="card-title">{{ prixArticle }} $</h5>
    <div class="card-text">
      Nombre de Like : {{ totalNbrLike }}

      <input type="text" class="form-control" placeholder="Commentaire" [(ngModel)]="comment" />
      {{ comment }}
    </div>

  </div>
  <div class="card-footer">
    <button  type="button" class="btn btn-info btn-sm"
      (click)="onLike()"
      [ngClass] = "{
        'show': jaime === true,
        'hidden': jaime === false }"
    > Like</button>
    <button  type="button" class="btn btn-danger btn-sm"

    (click)="onLike()"
      [ngClass] = "{
        'show': jaime === false,
        'hidden': jaime === true }"
    >DisLike</button>

  </div>
</div>
