<div class="container my-2">


  <div class="row">
    <div class="col-md-2">
        <a routerLink="/add-article" class="btn btn-sm btn-success">Ajouter un Article</a>
    </div>
    <div class="col-md-10">
      <div id="alertMsg">
        <p> {{ message }} </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="home">
        <app-article
          *ngFor="let item of articles" :key="item.id"
            [titreArticle]="item.titreArticle"
            [prixArticle]="item.prixArticle"
            [altImg]="item.altImg"
            [urlImg]="item.urlImg"
            [dispo]="item.dispo"
            (info)="onAfficheMsg($event)">
        </app-article>
      </div>
    </div>
  </div>

</div>
