<div class="row my-3">
  <div class="col-md-6 mx-auto">
    <div class="card articleInfo mt-2">
      <img [src]= "url">
      <div class="card-body">
        <h4 class="card-title">Article Numero : {{ id }} - {{  title  }}</h4>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat deleniti reprehenderit eius eaque inventore natus libero totam modi ducimus eligendi aut atque, velit quibusdam dolores, temporibus iste corrupti minus culpa?
        </p>
      </div>
    </div>
  </div>
</div>
